<div class="title">
  <% if current_user %>
    Hi, <%= current_user.email %>
    <%= link_to('登出', destroy_user_session_path, method: :delete) %> |
    <%= link_to('修改密碼', edit_user_registration_path) %>
  <% else %>
    <%= link_to('註冊', new_user_registration_path) %> |
    <%= link_to('登入', new_user_session_path) %>
  <% end %>
  |<%= link_to('Background', admin_root_path) %>
</div>
