<div class="container content2">
  <div class="avatar">
    <%= image_tag @user.avatar, height: 300 %>
  </div>
  <section>
    <%= @user.name %>
  </section>
  <section>
    <%= @user.email %>
  </section>
  <section>
    <%= @user.intro %>
  </section>
  <div>
    <%= link_to('Edit', edit_user_path(@user)) if current_user.id == @user.id%>
  </div>
</div>